/*
********************

Common CSS

********************
*/
a.visitpage {
    color: #fff;
}
/*
********************

Top Nav Bar

********************
*/
#topheader {
    z-index: 99999;
}

#topheader .navbar-imgcontainer {
    width: 100%;
    margin-top: -4px;
}
#topheader .navbar-imgcontainer > img {
    max-width: 100%;
    max-height: 100%;
}
@media (min-width: 768px) {
    .logo {
        background: url('../images/new-logo.png') no-repeat;
        width:400px;
        height:150px;
        margin:0 auto;
        overflow: hidden;
        opacity: 0.6;
        display: block;
        text-align: center;
        -webkit-transition: all .4s linear;
        
    }
}
.logobackground {
    background: url('../images/content_bg_yellownoise.gif') repeat;
    width:100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border-radius: 0px;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    border:none;
}
#toptitle {    
    border-color: #e7e7e7;
    background: url(../images/content_bg_yellownoise2.gif) repeat;
}

nav{
    background: url('../images/content_bg_yellownoise2.gif') repeat;
    box-shadow: inset 0 0 20px rgba(0,0,0,.15);
    border-radius: 0px;
}

nav > .container:first-child {
    margin: 0 auto;
    background: rgba(0,0,0,.05);
    border-radius: 0px;
    text-align: center;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background: #555;
    background: rgba(0,0,0,.3);
    border-color: rgba(0,0,0,.3);
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
@media (min-width: 768px) {
    .bigtitle > h1 {
        font-size: 70px;
    }
    .bigtitle p {
        font-size: 20px;
    }

}
@media(max-width:767px) {
    .bigtitle > h1 {
        font-size: 26px;
    }
    .bigtitle p {
        font-size: 15px;
    }
}
.bigtitle > h1 {
    color: #48701D;
    text-shadow: 1px 1px 0 rgba(255,255,255,.6);
    font-variant: small-caps;
    text-align: center;
}

.bigtitle p {
    margin-top: 8px;
    margin-bottom: 60px;
    color: #333;
    text-align: center;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background: rgba(0,0,0,.3);
    border-color: rgba(0,0,0,.3);
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

.navbar-default .navbar-nav>li>a {
    color: #444;
    font-size: 18px;
    text-decoration: none;
}

#topheader.affix {
    top:0;
    width:100%;
}

#topheader .affix-bar {
    display: none;
}

#topheader.affix .affix-bar {    
    display: block;
}
#topheader.affix .normal-bar{
    display: none;
}
#topheader .normal-bar{
    display: block;
}


/*
********************

Hompage CSS

********************
*/


body {
    font-family: "Georgia", serif;
    font-size: 18px;
    background: #e6e4cf;
}

p {
    font-family: "Georgia", serif;
    font-size: 18px;
    line-height: 1.1em;
    color: #424030;
}
hr {
    border: none;
    height: 2px;
    background: #cfcdbd;
    margin-bottom: 15px;
}

label {
    font-weight: 500;
}

.videoshow > h3 {
    letter-spacing: 0.15em;
    line-height: 1.09em;
    padding-bottom: 10px;
    text-align: left;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    width: 100%;
    border-top: 1px solid black;
    margin: 23px 0 0;
    text-align: center;
    padding: 0;
    height: 24px;
}

.videoshow > h3 > span {
    position: relative;
    top: -14px;
    padding: 0 20px;
    background: url('../images/content_bg_yellownoise2.gif');
}

.videowrapper {
	position: relative; 
    padding-bottom: 55%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto; 
}
.videowrapper iframe {
	position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.info > a {
    font-style: italic;
    color: #48701d;
    text-decoration: none;
    border-radius: 5px;
    padding: 0 3px 0 3px;
    border: 1px solid transparent;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.info > a:hover {
    box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,.8);
    background-color: rgba(0,0,0,.05);
}

a.linktopage {
    font-style: italic;
    color: #48701d;
    text-decoration: none;
    border-radius: 5px;
    padding: 0 3px 0 3px;
    border: 1px solid transparent;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

a.linktopage:hover {
    box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,.8);
    background-color: rgba(0,0,0,.05);
}
.visitpage {
    display: block;    
    padding: 12px 0 9px 15px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none !important;
    font-style: italic;
    background: #66644e url('../images/navbutton_texture.png') center center repeat;
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.9);
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.visitpage:hover {
    text-decoration: none;
    color:#fff;
}

.visitpage:active {
    text-decoration: none;
    color:#fff;
}

.visitpage:hover {
    color:#fff;
    background-color: #bc3a00;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
    text-decoration: none;
}

.sectionhead {
    background: #e6e4cf url(../images/content_bg_yellownoise2.gif) repeat;
    box-shadow: inset 0 0 20px rgba(0,0,0,.15);
    border-radius: 0px;
}

.teal {
    color: #3B96A7 !important;
}

.orange{
    color: #b84000 !important;
}

.gray {
    color: gray !important;
}

/*
*************

Footer CSS

*************
*/

footer {
    background: #e6e4cf url('../images/content_bg_yellownoise2.gif') repeat;
    box-shadow: inset 0 0 20px rgba(0,0,0,.15);
    padding: 30px 0 30px 0;
    font-size: 20px;
}
@media (min-width: 768px) {
    .yourway {
        font-size: 30px;
    }
    footer > .container > div > p {
        font-size: 20px;
    }
    footer > .container > div > p > a{
        font-size: 20px;
    }

    footer > .container > div > h4 {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    .yourway {
        font-size: 15px;
    }
    footer > .container > div > p {
        font-size: 16px;
    }
    footer > .container > div > p > a{
        font-size: 16px;
    }

    footer > .container > div > h4 {
        font-size: 20px;
    }
}
.yourway {
    padding: 0 0 30px 0;
    text-align: center;
    font-style: italic;
    color: rgba(0,0,0,.6);
    text-shadow: 1px 1px 0 rgba(255,255,255,.6);
    font-family: 'LeagueGothicRegular';
    text-transform: uppercase;
    
    line-height: 1.09em;
}

footer > .container > div > h4 {
    padding-bottom: 20px;
    letter-spacing: .05em;
    color: #353535;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
    
    line-height: 1.1em;
}

footer > .container > div > p {    
    line-height: 1.2em;
    margin-bottom: 20px;
}

footer > .container > div > p > a{
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    margin-bottom: 30px;
    padding: 0;
    text-align: left;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
}
footer > .container > div > p > a:hover{
    box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 5px;
    background-color: rgba(0,0,0,.05);
    text-decoration: none;
    -webkit-transition: all .2s linear;
}

footer > div > small {
    font-size:68%;
}

/*
*************

Restaurnat Page CSS

*************
*/

.section > .row:first-child{
    text-align: center;
    background: transparent url('../images/header_underline.png') bottom center repeat-x;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
    width: 100%;
    margin:0px;
}
.section > .row > ul {
    display: inline-block;
    float: none;
    vertical-align: top;
    padding: 0px 3px 0 0;
}

.section > .row > ul > li{
    float: left;
    position: relative;
    display: block;
}

@media (min-width: 768px) { 
    .section > .row > ul > li > a {
        font-size: 45px;
        margin: 0 20px 0 0;
    }

    .section > .row > ul > li:after {
        padding-right:20px;
        font-size: 45px;
        content:'\00B7';
    }
}    

@media (max-width: 767px) {
    .section > .row > ul > li > a {
        font-size: 21px;
        margin: 0 8px 0 0;
    }

    .section > .row > ul > li:after {
        content: '';
    }
}
.section > .row > ul > li > a {
    color: #7A7C6F;
    font-family: 'LeagueGothicRegular';
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    display: inline-block;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.section > .row > ul > li > a:hover {
    color: #353535;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
}

.section > .row > ul > li:last-child:after {
    content:'';
}
.section > .row > ul > li:after {
    color: #7A7C6F;
    font-family: 'LeagueGothicRegular';
}

.section > .row > ul > li.active > a {
    color: #353535;
    border: none;
    text-decoration: none;
}

p.info {    
    line-height: 38px;
    padding-top: 15px;
    color: #424030;
    text-align: left;
}

.section h1,h2,h3,h4 {
    font-family: 'LeagueGothicRegular';
    text-transform: uppercase;
    color: #353535;
    line-height: 1.1em;
    padding-bottom: 10px;
}

.specs {
    display: inline-block;
}
.specs > h2 {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}

.specs  ul {
    list-style: none;
}

.specs li strong {
    color: #000;
    display: block;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

.specs  ul >  li {
    border-bottom: 1px solid #fff;
    color: #404040;
    float: left;
    font-size: 14px;
    font-style: italic;
    list-style: none outside none;
    margin-right: 16px;
    padding: 8px 0;
    width: 40%;
}

.specs .wide {
    width: 98%;
}

.specs img {
    max-width: 100%; /* Add !important if needed. */
    height: auto;
}

.pdf {
    padding-right: 20px;
    background: url('../images/pdficon_small.gif') no-repeat center right;
}

.shadow {
    box-shadow: 4px 6px 18px rgba(0,0,0,0.46);
    opacity: 0.75;
}

.shadow:hover {
    opacity: 1;
}

.lists ul li {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    padding-left: 10px;
    padding-top: 10px;
    border: 0;
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
}

.lists li:hover {
    -webkit-box-shadow: 10px 10px 20px #636363;
    box-shadow: 10px 10px 20px #636363;
    opacity: 1;
    -moz-transition: all 0.8s ease 0s;
    z-index: 99;
}

.review {
    position: inherit;
    -moz-transform-origin: 0 40px;
    background: url('../images/back_review.png') repeat scroll 0 0 transparent;
    color: #505041;
    font-size: 17px;
    line-height: 19px;
    width: 98%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 5;
}

.review p {
    display: inline;
    line-height: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
}

.review cite {
    color: #82826E;
    display: block;
    font-size: 0.8em;
    padding-top: 5px;
    text-align: right;
    text-transform: capitalize;
}

.lists ul {
    list-style: circle;
    border: 0;
    margin: 0;
    padding: 0;
}

.section ul.nav-tabs {
    border: none !important;
    margin: 20px 0 0 20px;
    float: left;
    list-style: none;
    width: 100%;
    margin-bottom: -5px;
    color: #333;
}

.section ul.nav-tabs li {
    color: #333;
    float: left;
    margin: 0;
    line-height: 30px;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
}

ul.nav-tabs li.active a {
    background: #f9f8ef url(../images/tab_top_bg.gif) top repeat-x;
    color: #000;
}

ul.nav-tabs li a {
    border: none !important;
    text-decoration: none;
    color: #333;
    color: rgba(0,0,0,.5);
    display: block;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    outline: none;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

ul.nav-tabs li a:hover {
    background-color: transparent !important;
}

ul.nav-tabs li.active a {
    background-color: #fff !important;
}

ul.nav-tabs li:active a:hover {
    background-color: #fff !important;
}

ul.nav-tabs li a:hover {
    color: #000;
}

.tab-pane p.info {
    font-size: 14px;
}

/*
**********************

Food Tours Page

**********************
*/

.pullquote-left {
    border-bottom: 4px solid #000000;
    border-top: 4px solid #000000;
    display: block;
    float: left;
    font-family: Georgia,"Times New Roman","Bitstream Vera Serif",serif;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 29px;
    margin: 8px 20px 10px 0;
    padding: 15px 0;
    width: 200px;
}

.itin {
    font-size: 0.9em;
    text-align: justify;
}

.section .wrap {
    width: 100%;
    border: 1px solid transparent;
    background: transparent url('../images/pattern_angledlines_25.png') repeat;
    text-align: left;
}

.section .wrap .inner {
    position:relative;
    background: #f9f8ef;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
    border-radius: 5px;
    clear: left;
}

button, button[disabled]:hover, button[disabled]:active {
    display: block;
    float: right;
    background: #f3f3f3 url('../images/button_bg.png') repeat-x bottom;
    border-radius: 5px;
    border: 1px outset #fff;
    font-size: 1em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    cursor: pointer;
    text-shadow: 0 1px 0 white;
    -moz-text-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

button:active {
    background-color: #fff;
    background: #f3f3f3 url('../images/button_bg.png') repeat-x top;
}

button:hover {
    background-color: #fff;
}

img.bookmark {
    position: absolute;
    top: -8px;
    right: 30px;
}

.divider {
    border: none;
    height: 2px;
    background: #cfcdbd;
    margin-bottom: 15px;
}

.uberclear {
    float: none;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    height: 1px;
    line-height: 0;
    font-size: 0;
}

.accom h2 {
    font-family: 'LeagueGothicRegular';
    text-transform: uppercase;
    font-size: 30px;
    color: #353535;
    width: 100%;
    text-align: center;
    line-height: 1.09em;
    padding-bottom: 10px;
    background: transparent url('../images/header_underline.png') bottom center repeat-x;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
}

.accom img {
    float: left;
    margin: 0 10px 10px 0;
}

.tab-pane h3 {
    font-size: 1.5em;
    border-top: dashed;
    border-width: thin;
    border-color: rgba(0,0,0,.4);
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

/*
****************

Recipe Page

****************
*/

.spiritform input[type="text"], .spiritform input[type="email"] {
    display: block;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    width: 98%;
    padding: 4px;
    margin: 6px 0;
    font-size: .9em;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #888;
    border-top: 2px solid #888;
    outline: none;
}

/*
*****************

Voucher Page

*****************
*/

.spiritform legend {
    font-family: 'LeagueGothicRegular';
    text-transform: uppercase;
    font-size: 28px;
    color: #444;
    padding-right: 2px;
    margin-top: 5px;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}

.radios {
    padding: 15px 80px 10px 15px;
    margin-bottom: 20px;
    background: #D2E2CB url(../images/radios_bg.png) no-repeat right bottom;
    border: 2px solid #7D8976;
    border-bottom: 4px solid #545E4C;
    border-radius: 5px;
    box-shadow: inset 0 -4px 10px rgba(0,0,0,.15);
}

.spiritform textarea {
    display: block;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    width: 97%;
    padding: 4px;
    margin: 6px 0;
    font-size: .9em;
    border-radius: 3px;
    border: 1px solid #888;
    border-top: 2px solid #888;
    outline: none;
    padding: 6px;
}

#theNewForm input#amount {
    display: inline;
    width: 40px;
    text-align: right;
}
#theNewForm #qty, #theNewForm #amount {
    margin-bottom: 10px;
}

#theNewForm input[type="text"], #theNewForm textarea {
    margin-bottom: 20px;
}

#theNewForm .information p {
    background: rgba(0,0,0,.05) url(../images/info_ico.png) no-repeat 10px center;
    border: 1px inset rgba(140,140,140,.5);
    padding: 10px 7px 10px 35px;
    font-size: .9em;
    border-radius: 5px;
}

#recipients {
    list-style: none;
}

.spiritform #totalsummary big {
    display: block;
    font-family: monospace;
    background: #fff;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    margin: 15px 0 10px 0;
    border-top: 4px double #aaa;
    border-bottom: 4px double #aaa;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
}

.ccv{
    padding-top: 7px;
    margin-left: -20px;
}

.labelccv {
    padding-top:10px;
}

/*
********************

School Page CSS

*******************
*/
caption {
    color: #353535;
    font-family: 'LeagueGothicRegular';
    font-size: 52px;
    line-height: 1.09em;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
}

table.school 
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table.school th 
{
    font-family: 'LeagueGothicRegular';
    text-transform: uppercase;
    font-size: 24px;
    color: #646464;
    padding-bottom: 10px;
    border-bottom: 3px solid #555;

}
table.school td, th 
{
	border: none;
    text-align: left;
    vertical-align: top;
}
table.school td
{
	padding: 10px 0 10px 0;
}
table.school b
{
	font-weight: bold;
}
table.school th.date_col
{
	width: 86px;
}
table.school th.nightday_col
{
	width: 100px;
}
table.school th.avail_col
{
	width: 140px;
	text-align: right;
}
table.school td
{
	border-bottom: 1px dotted #999;
}

table.school .classblock
{
	text-decoration: none;
	color: #444;
	display: block;

}
table.school .classblock p
{
    margin: 0;
    padding: 0;
}
table.school .classblock p.classname
{
    font-size: 1.3em;
    color: #000;
    line-height: .8em;
}
table.school .classblock p.info
{
    line-height: 1.5em;
    color: #777;
}
table .classblock .mobile_links
{
    display: none;
}

table.school .classblock div.details
{
    line-height: 1.5em;
}

.details p 
{ 
    color: gray;
    font-size: small;
    font-weight: bold; 
    } 


table.school a.showdescription
{
    display: inline-block;	
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    background: #555;
    background: rgba(0,0,0,.5);
    color: #fff;
    border-radius: 4px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    font-family: sans-serif;
    text-decoration: none;
    line-height: 13px;
    margin-top:2px;
    border: 1px solid #444;
    
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;

}
table.school a.showdescription:hover
{
    background: #b83d00;
    border: 1px solid #581A00;
}	

table.school a.book, table.school a.waitlist
{
display: block;
text-align: center;

padding: 8px 13px 8px 13px;
background: #48701d url('../images/navbutton_texture.png') center center repeat;
color: #fff;
border-radius: 4px;
text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
font-style: italic;
text-decoration: none;
line-height: 17px;

box-shadow: inset 0 0 10px rgba(0,0,0,0.6);

-moz-transition: all .2s linear;
-o-transition: all .2s linear;
transition: all .2s linear;
-webkit-transition: all .2s linear;

}
table.school a.waitlist
{
background-color: #555;
}
table.school a.book:hover, table.school a.waitlist:hover
{
background-color: #b83d00;
}

table.school .date
{
	width: 50px;
	height: 70px;
	border: 2px solid #581A00;
	border-radius: 5px;
	color: #555;
	background: #FDFFE9;
	margin-left: 6px;
	box-shadow: inset 0 0 12px rgba(0,0,0,.2);
}
table.school .date .dw
{
    display: block;

    text-align: center;
    background: #b83d00;
    border-radius: 2px 2px 0 0;
    border-top: 1px solid #FB6E3E;
    border-left: 1px solid #FB6E3E;
    border-right: 1px solid #FB6E3E;
    color: #fff;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    position: relative;

}
table.school .date .d
{
    display: block;	
    font-size: 1.9em;	
    width: 100%;
    line-height: 1em;
    text-align: center;
    letter-spacing: -.05em;
}
table.school .date .m
{
    display: block;	
    width: 100%;
    text-align: center;
    font-style: italic;	
    font-size: .9em;	
    line-height: 14px;
}
table.school .date.pad
{
    height: 165px;
}

/*
***********************

Book Page CSS

***********************
*/

.section #booking_complete p {
    line-height: 1.3em;
}

.section p {
    margin-bottom: 1em;
    padding: 5px 0 5px 0;
}

.seatsleft_bottom {
    font-size: 4em;
    margin-top: -.04em;
    font-family: Georgia, serif;
}

.seatsleft h2 {
    margin-bottom: 0;
}
.seatsleft h2 {
    margin-top: 25px;
    border-bottom: 1px dotted rgba(0,0,0,.5);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
    margin-bottom: 10px;
}

/*
************************

Shop Page

***********************
*/

.jcart {
    margin: 0 5px 5px 5px;
    padding-top: 20px;
    text-align: center;
}

.jcartitem {
    border-radius: 5px;
    background: rgba(255,255,255,1);
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2), inset 0 0 15px #f3f3f3;
}